:host {
    display: block;
    text-align: center;
}

.heatmap-title {
    font-family: 'Shadows Into Light';
    font-size: 2rem;
    color: white;
}

// .heatmap {
//     display: flex;
//     text-align: center;
//     justify-content: center;
        
// }

// svg {
//     margin: auto;
// }