@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

:host {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #202124;
}